.top {
    &.community {
        height: 50vh;
        background: $secondary_1_1;
        h2 {
            font-size: 50px;
            font-family: "Ubuntu", serif;
            font-weight: bold;
        }
    }
}

.chatDiv {
    background: #ccc;
    .message {
        &.user {}
        &.bot {}
    }
}
.inputDiv {
    display: flex;
    background: #eee;
    input {
        flex: 2;        
    }
    button {
        flex: 1;
    }
}