.community {
    .top {
        display: flex;
        align-items: center;        
        background: $secondary_1_1;
        text-transform: uppercase;
        padding: 80px 60px;
        h2 {
            font-size: 50px;
            font-family: "Ubuntu", serif;
            font-weight: bold;
        }

        .left_box {
            flex: 2;
        }
        .right_box {
            flex: 1;
            height: 100%;
            img {
                border-radius: 12%;
            }
        }
    }
}

.chatDiv {
    background: #ccc;
    .message {
        &.user {}
        &.bot {}
    }
}

.inputDiv {
    display: flex;
    background: #eee;
    input {
        flex: 2;        
    }
    button {
        flex: 1;
    }
}

.flexCont {
    > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .profile {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $border_color_light;
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% auto;

        img {
            display: none;
        }
    }
    .cont_info {
        margin-top: auto;
    }
}

.btn_chat {
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 5;
    padding: 10px;
    background:#ccc;
    border-radius: 50%;
    &:hover {
        background: #333;
    }
}