.chatDiv {
    background: #ccc;
    .message {
        &.user {}
        &.bot {}
    }
}
.inputDiv {
    display: flex;
    background: #eee;
    input {
        flex: 2;        
    }
    button {
        flex: 1;
    }
}