$font-family_1: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
@use "sass:math";

@keyframes appear-right-to-left {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-left-to-right {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-bottom-to-top {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.event_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: $font-family_1;
    background: #ffffff;

    .bg_container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        span {
            position: absolute;
            display: block;
            width: fit-content;
            height: fit-content;
            font-size: 50px;
            transform-origin: center;
            transition: all 0.7s ease-in-out;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    $randomY: math.random(100) + 0%;
                    $randomR: math.random(360) * 1deg;

                    top: $randomY;
                    transform: rotate($randomR);
                }
            }

            &:nth-child(odd) {
                left: 5px;
            }

            &:nth-child(even) {
                right: 5px;
            }
        }
    }

    .top_visual {        
        padding: 80px 0;
        font-size: 50px;
        text-align: center;

        p {
            font-size: 50px;
        }

        strong {
            line-height: 64px;
            font-weight: bold;
            margin: 40px 0;
        }

        .event_giftbox {
            width: 40%;
        }
    }
}

.text_list_container {
    width: 500px;
    margin: auto;

    .text_list_item {
        display: inline;
        opacity: 0.2;
        font-size: 30px;
        line-height: 46px;
        font-weight: bold;
        margin: 0 8px;

        &.on {
            opacity: 1;
        }
    }
}

.video_wrap {
    position: relative;
    width: 580px;
    margin: 100px auto;

    .fixed_box {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.scrolled {
        opacity: 1;
        position: sticky;
        top: 50%;
        z-index: 5;
        transform: translateY(-50%);
    }
}

.fixed_description {
    width: 500px;
    margin: auto;
    margin: 30px auto 0;

    h4 {
        font-size: 20px;
        font-weight: bold;
        margin: 40px 0 16px;
    }

    p {
        font-size: 16px;
        font-weight: normal;
    }
}

.threeD_visual {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 180px 0;
    span {
        width: 20%;  
    }
}