$font-family_1: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
@use "sass:math";

@keyframes appear-right-to-left {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-left-to-right {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear-bottom-to-top {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.event_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: $font-family_1;
    background: #ffffff;

    .bg_container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    
        span {
            position: absolute;
            display: block;
            width: fit-content;
            height: fit-content;
            font-size: 50px;
            transform-origin: center;
            transition: all 0.7s ease-in-out;
    
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {                                    
                    $randomY: math.random(100) + 0%;
                    $randomR: math.random(360) * 1deg;
            
                    top: $randomY;
                    transform: rotate($randomR);
                }
            }

            &:nth-child(odd) {
                left: 5px;
            }
    
            &:nth-child(even) {             
                right: 5px;
            }
    
            // &:nth-child(3) {                
            //     transform: translate(0, 65%);
            // }
    
            // &:nth-child(4) {
            //     transform: translate(100%, 95%);
            // }
        }
    }
    
    .top_visual {
        height: 80vh;
        padding: 80px 0;

        strong {
            font-size: 50px;            
            font-weight: bold;
        }
        p {
            font-size: 40px;
            margin-top: 20px;
        }

        .event_giftbox {
            width: 30%;
        }
    }
}



.list_container {
    width: 500px;
    margin: auto;
}

.list_item {
    display: inline;
    opacity: 0.2;
    font-size: 30px;
    line-height: 46px;
    font-weight: 500;
}

.list_item.on {
    opacity: 1;
}

.video_wrap {
    width: 500px;
    margin: auto;
}

.fixed_box {
    width: 500px;
    position: relative;

    .video {
        width: 500px;
    }
}

.fixed_description {
    opacity: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin: 30px auto 0;
    transform: translateY(100px);
}

.poster__parallax {
    overflow: hidden;
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: 700px;
    margin: auto;

    .poster-image {
        position: absolute;
        opacity: 0;
    }

    .poster-image_wrapper {
        position: absolute;
        width: 100%;

        img {
            display: block;
            width: 100%;
        }
    }
}

#poster-image_wrapper_1 {
    width: 50%;
    height: auto;
    top: 15%;
    right: 10%;
}

#poster-image_wrapper_2 {
    width: 50%;
    height: auto;
    top: 45%;
    left: 10%;
}

#poster-image_wrapper_3 {
    width: 60%;
    height: auto;
    top: 65%;
    right: 0;
}

.poster-image_state_visible {
    #poster-image_1 {
        animation: appear-right-to-left .75s ease forwards;
    }

    #poster-image_2 {
        animation: appear-left-to-right .75s ease forwards;
    }

    #poster-image_3 {
        animation: appear-bottom-to-top .75s ease forwards;
    }
}

.hidden_area {
    opacity: 0;
    display: none;
}

.shown-area {
    opacity: 1;
    display: block;
}