@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

.notice {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .notice_title_box {
        font-size: 100px;
        font-family: 'Black Han Sans', sans-serif;
        margin-right: 130px;
    }

    .board_container {
        flex: 1;
    }
}

.notice_bg {
    .card-container {
        display: flex;        
        gap: -10px;
        justify-content: flex-start;
        width: 100%;

        .card {
            overflow: hidden;                        
            width: 260px;
            height: 320px;
            border-radius: 5%;            
            transform: rotate3d(3, -8, 0, 48deg);            
            transition: transform 0.3s ease;            
            background-image: url("https://cdn.gukjenews.com/news/photo/202404/2960746_3033403_4049.jpg");
            background-position: center center;
            background-size: contain;
            
            .glow {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background-image: radial-gradient(circle at 50% 50%, #ffffff22, #0000000f);
                transition: background-image 0.3s ease;
            }

            &:not(:first-child) {
                margin-left: -140px;
            }

            &:hover {
                box-shadow: 0 0 0 3px $secondary_1_2 inset;
                z-index: 1;
            }
        }
    }
}


.notice_write {
    position: relative;
    width: 100%;

    .title_box {
        display: flex;
        align-items: center;

        .title {
            margin-right: 16px;
        }
    }
}