@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

.notice {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .notice_title_box {
        flex: 1;
        font-family: 'Black Han Sans', sans-serif;
        margin-right: 130px;
        p {
            font-size: 80px;
            line-height: 90px;
        }
    }

    .board_container {
        flex: 2;
    }
}

.notice_write {
    position: relative;
    width: 100%;

    .title_box {
        display: flex;
        align-items: center;

        .title {
            margin-right: 16px;
        }
    }
}