.visual {
    position: relative;
    width: 100%;
    height: 60vh;
    background: $color_black;
}

.obj_box {
    position: relative;

    .obj {
        position: absolute;

        &._1 {}
    }
}