.radio_box {
    .ant-radio-inner {
        width: 20px;
        height: 20px;
        border-color: $primary_2;
    }
    .ant-radio-inner::after {
        background-color: $secondary_2_1;
    }
    .ant-radio-checked {
        .ant-radio-inner {
            border-color: $secondary_2_1;
            background-color: $secondary_2_1;
        }
    }
}


.switch_box {
    width: 80px;
    height: 44px;
    background: linear-gradient(250deg, #7b2ff7, #f107a3);
    display: flex;
    justify-content: flex-start;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    &[data-isOn="true"] {
        justify-content: flex-end;
    }

    .handle {
        width: 24px;
        height: 24px;
        background-color: rgba(255,255,255,0.6);
        border-radius: 10px;
    }
}
