.input_area {
    position: relative;

    .floating_label {
        position: absolute;
        left: 10px;
        top: 0;        
        font-size: 13px;
        color: $color_black;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .input_field {
        position: relative;
        height: 48px;
        border-bottom: 1px solid #d9d9d9;        
        
        &.input_error {
            border-color: $color_error;
            animation: shake 0.3s ease-in-out;
        }

        .input_box {
            width: 100%;
            height: 100%;
            padding: 10px;
            font-size: 1rem;
            font-weight: 500;
            color: #222222;
            border: none;
            box-sizing: border-box;

            &::placeholder {
                color: #bbbbbb;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &:focus {
                outline: none;
            }            
        }
    }
    .input_alert_txt {
        font-size: 12px;
        margin-top: 8px;
        color: $color_error;        
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-15px); }
    50% { transform: translateX(15px); }
    75% { transform: translateX(-15px); }
}