.slider-wrapper {
    .swiper-wrapper {
        display: flex;
        transition-timing-function: linear !important;
        img {
            width: 100%;
            height: auto;
        }
    }
}
