.full_header {    
    overflow: hidden;
    position: relative;    
    width: 100%;
    height: 100vh;
    z-index: 20;
    padding: 20px;        
    background: $color_white;
    
    &.on {
        height: 100vh;
    }
}

.logo {
    h1 {
        font-size: 24px;
        margin: 0;
        font-weight: bold;
        color: $color_black;
    }
}

.nav {
    ul {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;

        li {
            font-family: eng;
            font-size: 50px;            
            -webkit-text-stroke: 0.06 $color_black;
            

            a {
                font-family: "Ubuntu", serif;
                font-weight: 700;
                font-style: normal;

                // text-decoration: none;                
                // font-weight: bold;
                // padding: 10px 15px;
                // transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: $secondary_2_2;
                    color: $color_white;
                    border-radius: 5px;
                }
            }
        }
    }
}