.modal_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    &.theme_primary_1 {
        .modal_box .info {
            background: $primary_1;            
        }
    }
    &.theme_primary_2 {
        .modal_box .info {
            background: $primary_2;            
        }
    }    
    &.noResult {
        .modal_box {
            .result_box dl,
            .result_txt,
            .bottom_btn {
                display: none;
            }
            .result_box {
                .fail {
                    display: block;
                }
            }
        }
    }

    .dim {
        opacity: 0.7;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #111111;
        cursor: pointer;
    }
    .modal_cont {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: fit-content;
        transform: translate(-50%, -50%);
        background: #fff;
        border: 1px solid #000;
        padding: 50px 70px;
    }
    .modal_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
            color: #000;
        }
        .info {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 420px;
            border-radius: 16px;
            padding: 30px 50px;
            color: #222;
            margin-bottom: 30px;

            &:after {
                display: block;
                clear: both;
                content: "";
                position: absolute;
                left: 0;
                bottom: -30px;
                width: 100%;
                height: 1px;
                background: #888888;
            }

            .icon {
                display: block;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background: center center;
                background-size: cover;
            }
            .subject {
                flex-shrink: 0;
            }
            .time {
                font-size: 20px;
                font-weight: bold;
                padding-right: 16px;
                padding-left: 6px;
            }
            .choice_box {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                font-size: 16px;
                span {
                    position: relative;
                    margin: 0 6px;
                    &:after {
                        display: block;
                        clear: both;
                        content: "";
                        position: absolute;
                        right: -12px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 14px;
                        background: #666666;
                        margin: 0 6px;
                    }
                    &:nth-child(even) {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .search {
            display: flex;
            align-items: center;
            padding-top: 30px;
            &.cancel {
                border-top: none;
                margin-top: 0;
                .input_area {
                    width: 351px;
                }
            }
            strong {
                font-size: 16px;
                flex-shrink: 0;
                color: #222;
                padding-right: 10px;
            }
            .input_area {
                width: 235px;
                font-size: 14px;
            }
            button {
                flex-shrink: 0;
                font-size: 14px;
                font-weight: bold;
                margin-left: 10px;
            }
        }
        .result_box {
            width: 420px;
            background: #f3f3f3;
            border-radius: 10px;
            padding: 30px 55px;
            margin-top: 30px;
            dl {
                display: flex;
                align-items: flex-start;
                font-size: 16px;
                margin-bottom: 20px;
                color: #222;
                &:last-of-type {
                    margin-bottom: 0;
                }
                dt {
                    font-weight: bold;
                    min-width: 40px;
                }
                dd {
                    margin-left: 10px;
                }
            }
            .fail {
                display: none;
                font-size: 14px;
                text-align: center;
                color: #444;
            }
        }
        .result_txt {
            font-size: 16px;
            margin: 30px 0;
            color: #444;
        }
        .bottom_btn {
            width: 172px;
            font-size: 14px;
        }
    }
}
.basic {
    width: 106px;
}
.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;        
}

.place_alert_box {
    li {
        width: 300px;
        height: 100px;
        padding: 16px 20px;
        box-shadow: $boxShadow;
        border-radius: 20px;
    }
    button {
        display: flex;
        margin-left: auto;
    }
}