
.wrapper-1400 {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: auto;    
}

.list {
    position: relative;
    display: flex;

    li {
        border: 1px solid $secondary_1_1;
        border-radius: 10px;
        box-shadow: $boxShadow;        
    }
}

.flexCont {
    position: relative;    
    padding: 20px;
    height: auto;

    div {
        width: 100%;        
    }
}