.text_gradient {    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,246,2,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_slogan {
    font-size: 70px;
    font-family: 'Black Han Sans', sans-serif;
}