$primary_1: #3c89e8;
$primary_2: #F4A460;

$color_black: #1a1a1a;
$color_white: #fff;

$secondary_1_1: #D0F0FD;
$secondary_1_2: #B0E0E6;
$secondary_1_3: #89CFF0;


$secondary_2_1: #fffdd0;
$secondary_2_2: #f5f5dc;
$secondary_2_3: #FFECB3;

$color_success: #52c41a;
$color_warning: #faad14;
$color_error: #ff4d4f;

$border_color_base: #333333;

$boxShadow: 0 4px 6px rgba(0, 0, 0, 0.1);